<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.png">
    <title>Ace Test House</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../static/css/styles1.css">

    <script src="https://use.fontawesome.com/cb46d6a643.js"></script>

</head>

{% load crispy_forms_tags %}
<div class="login-box" style="background-color: lightgrey;
width: 500px;
border: 5px solid black;
padding: 50px;
margin: 20px;">
    <br>
    <img src="../../static/images/logo.png" class="center" style="width: 100px; " alt="">
    <h1 >Login </h1>
    
    <form method="POST" class="mt-5  col-6" >
        {% csrf_token %}
        <div class="textbox">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-primary mb-3">Login</button>
    </form>
</div>